@model TWAB.Models.RecruitmentViewModel

@{
    ViewData["Title"] = "_Create";
}

<hr />
    <div class="col-md-4">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="OfferId" />
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CVfile" class="control-label"></label>
            <input asp-for="CVfile" type="file" accept=".txt,.pdf,.doc" class="form-control" />
            <span asp-validation-for="CVfile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
