h4, h5 {
    color: rgb(169,127,182);
}
a {
    text-decoration: none;
    color: rgb(169,127,182);
}
td {
    height: 40px;
}

.containter {
    background-color: white;
    border-radius: 10px;
    padding: 3%;
    height: 760px;
}

.logo {
    width: 30%;
}

.offerHeader {
    display: flex;
    width: 100%;
}

.headerLeft {
    width: 20%;
}

.expDate {
    text-align: right;
}

.headerRight {
    width: 80%;
}

.main {
    display: flex;
}

.mainLeft{
    width: 80%;
}

.mainRight {
    width: 20%;
    padding-left: 2%; 
}

.border1 {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(169,127,182);
    width: 100%;
    height: auto;
    padding: 2%;
}

.description {
    height: 353px;
}