html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 110%;
}

body {
    background-color: rgb(240,240,240);
    padding-top: 93px;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    margin: 0px;
}

footer {
    background-color: #ffffff;
    height: 60px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.5%;
}

footer > p {
    color: rgb(169,127,182);
    margin: 0px;
    padding: 0px;
}