@model JobOfferDTO

@using Microsoft.AspNetCore.Identity
@using TWAB.Areas.Identity.Data
@using TWAB.Models

@namespace TWAB.Areas.Identity
@inject SignInManager<DBUser> SignInManager
@inject UserManager<DBUser> UserManager

<form asp-action="Send" id="jobOfferForm">
    <input asp-for="RecruiterId" type="hidden" value="@UserManager.GetUserId(User)" />

    <p>Tytuł ogłoszenia</p>
    <input asp-for="Title" type="text" placeholder="Tytuł ogłoszenia" required />

    <p>Kategoria</p>
    <select asp-for="Category" required>
        @{
            foreach (var item in Lists.Categories)
            {
                <option>@item</option>
            }
        }
    </select>

    <p>Opis</p>
    <input asp-for="Description" type="text" placeholder="Opis" required />

    <p>Data ważności</p>
    <input asp-for="ExpirationDate" type="date" placeholder="7" required />

    <p>Wynagrodzenie</p>
    <input asp-for="Salary" type="text" placeholder="1000zł" required />

    <p>Wymiar pracy</p>
    <select asp-for="WorkDimension" required>
        @{
            foreach (var item in Lists.WrokDimension)
            {
                <option>@item</option>
            }
        }
    </select>

    <p>Rodzaj umowy</p>
    <select asp-for="ContractType" required>
        @{
            foreach (var item in Lists.ContractType)
            {
                <option>@item</option>
            }
        }
    </select>

    <p>Wymagania</p>
    <div id="requirements">
        <div>
            <input type="text" name="Requirements[0].Name" placeholder="Wymaganie" required />
            <button type="button" onclick="removeRequirement(this)">Usuń</button>
        </div>
    </div>
    <button type="button" onclick="addRequirement()">Dodaj wymaganie</button>

    <p>Benefity</p>
    <div id="benefits">
        <div>
            <input type="text" name="Benefits[0].Name" placeholder="Benefit 1" required />
            <button type="button" onclick="removeBenefit(this)">Usuń</button>
        </div>
    </div>
    <button type="button" onclick="addBenefit()">Dodaj benefit</button>

    <input type="submit" value="wyślij" />
</form>

<script>
    let benefitIndex = 1;
    function addBenefit() {
        const benefitsDiv = document.getElementById('benefits');
        const newBenefitDiv = document.createElement('div');
        newBenefitDiv.innerHTML = `
                    <input type="text" name="Benefits[${benefitIndex}].Name" placeholder="Benefit ${benefitIndex + 1}" required />
                    <button type="button" onclick="removeBenefit(this)">Usuń</button>
                `;
        benefitsDiv.appendChild(newBenefitDiv);
        benefitIndex++;
    }

    let requirementIndex = 1;
    function addRequirement() {
        const requirementsDiv = document.getElementById('requirements');
        const newRequirementDiv = document.createElement('div');
        newRequirementDiv.innerHTML = `
                    <input type="text" name="Requirements[${requirementIndex}].Name" placeholder="Wymaganie ${requirementIndex + 1}" required />
                    <button type="button" onclick="removeRequirement(this)">Usuń</button>
                `;
        requirementsDiv.appendChild(newRequirementDiv);
        requirementIndex++;
    }

    function removeRequirement(button) {
        button.parentElement.remove();
        requirementIndex--;
    }

    function removeBenefit(button) {
        button.parentElement.remove();
        benefitIndex--;
    }

    document.getElementById('jobOfferForm').addEventListener('submit', function (event) {
        const inputs = this.querySelectorAll('input[required], select[required]');
        for (const input of inputs) {
            if (!input.value) {
                event.preventDefault();
                alert('Proszę wypełnić wszystkie wymagane pola.');
                input.focus();
                break;
            }
        }
    });
</script>